@model Inventory.Models.LoginViewModel

@{
    ViewData["Title"] = "Index";
}

@{
    Layout = null;
}

<style>
    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .login-container {
        background-color: white;
        border: 1px solid #ddd;
        padding: 20px;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
        width: 300px;
    }

        .login-container h2 {
            text-align: center;
            margin-bottom: 20px;
        }

        .login-container form {
            display: flex;
            flex-direction: column;
        }

        .login-container input[type="text"],
        .login-container input[type="password"] {
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #ddd;
        }

        .login-container input[type="submit"] {
            padding: 10px;
            background-color: #4CAF50;
            color: white;
            border: none;
            cursor: pointer;
        }

            .login-container input[type="submit"]:hover {
                background-color: #45a049;
            }

        .login-container .create-account {
            text-align: center;
            margin-top: 20px;
        }

            .login-container .create-account a {
                text-decoration: none;
                color: #0000EE;
            }

                .login-container .create-account a:hover {
                    text-decoration: underline;
                }
</style>

<div class="login-container">
    <h2>Please Login</h2>
    <div style="text-align:center; margin-bottom:20px;">
        <img src="~/img/inventory.png" alt="Inventory Logo" style="width:300; height:auto;">
    </div>
    <form asp-action="ProcessLogin">
        <input type="text" asp-for="UserName" placeholder="Username">
        <input type="password" asp-for="Password" placeholder="Password">
        <input type="submit" value="Login">
    </form>
    <div class="create-account">
        Don't Have an Account?
        <a asp-controller="Registration" asp-action="Index">Create Account</a>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
