@model Inventory.Models.LoginViewModel

@{
    ViewData["Title"] = "LoginSuccess";
}

<div>
    <h4>Login Successful!</h4>
    <hr />
</div>
<div>
    <a asp-action="Inventory">Go to Inventory</a>
</div>
